/*Modal window*/
.modal{
    padding: 50px 0 0 0;
    display: none;
}

.modal-header, .modal-footer  {
    color: #000000;
    font-size: 10px;
    background: #f6f6f6;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 25%;
}

#field {
    margin-bottom:20px;
}
